$color_orange: #FF9401;

.content {}

.display_none{
    display: none;
}

.display_block{
    display: flex;
}

.wrapped_products {
    display: flex;
}

.Filter {
    width: 250px;
}


.product_item_detailed_block{
    width: 500px;
    height: 770px;
    display: none;
}



/* Каталог товаров */

.products_catalog {
    display: flex;
    flex-wrap: wrap;

    .product-item {
        width: 200px;
    }


    .card-pictures {
        width: 150px;
    }
}

.product-item:hover .card-pictures {
    transition: 0.5s; //Время эффекта 
    transform: scale(1.1); //Увеличиваем масштаб 
}

@media(max-width: 1024px) {}