@charset "UTF-8";
.display_none {
  display: none;
}

.display_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapped_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Filter {
  width: 250px;
}

.product_item_detailed_block {
  width: 500px;
  height: 770px;
  display: none;
}

/* Каталог товаров */
.products_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.products_catalog .product-item {
  width: 200px;
}
.products_catalog .product-item .img-item {
  width: 240px;
  height: 240px;
}
.products_catalog .card-pictures {
  width: 150px;
}

.product-item:hover .card-pictures {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}